<h1>{{title}}</h1>

{{#each buckets}}
<div class='bucket'>
  <a href='bucketList/{{this.id}}'>
    <p>bucket name: {{this.name}}</p>
    <p>id: {{this.id}}</p>
    <p>created: {{this.created}}</p>
    <p>decrypted: {{this.decrypted}}</p>
  </a>
  <a class='deleteBucket' href='{{this.id}}/deleteBucket'>delete bucket</a>
</div>
{{/each}}

<a href='/createBucket'>Add Bucket</a>
