<h1>{{title}}</h1>

{{#each buckets}}
<a href={{this.id}}>
  <div class='bucket'>
    <p>bucket name: {{this.name}}</p>
    <p>id: {{this.id}}</p>
    <p>created: {{this.created}}</p>
    <p>decrypted: {{this.decrypted}}</p>
  </div>
</a>
{{/each}}

<a href='/createBucket'>Add Bucket</a>
<script src='../javascripts/clientSocket.js' type='text/javascript'></script>
